body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

button {
  height: 100px;
  width: 300px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
}

button:hover {
  color: white;
  background-color: black;
}
